framework: net6.0
source https://api.nuget.org/v3/index.json

// PRODUCTION STUFF
nuget Be.Vlaanderen.Basisregisters.DependencyInjection 1.0.2

nuget SqlStreamStore 1.2.0
nuget SqlStreamStore.MsSql 1.2.0

nuget Microsoft.Extensions.Logging 6.0.0
nuget Microsoft.Extensions.Configuration 6.0.1
nuget Microsoft.Extensions.Options.ConfigurationExtensions 6.0.0

nuget Microsoft.EntityFrameworkCore 6.0.3
nuget Microsoft.EntityFrameworkCore.SqlServer 6.0.3
nuget Microsoft.EntityFrameworkCore.InMemory 6.0.3
nuget Microsoft.EntityFrameworkCore.Design 6.0.3

nuget Microsoft.Data.SqlClient 4.1.0

nuget Autofac.Extensions.DependencyInjection 7.2.0

nuget Newtonsoft.Json 13.0.1

nuget NodaTime 3.0.10

nuget CompareNETObjects 4.76.0

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 6.0.3

nuget Be.Vlaanderen.Basisregisters.EventHandling 4.0.0

nuget Be.Vlaanderen.Basisregisters.Utilities.HashCodeCalculator 3.0.0
nuget Be.Vlaanderen.Basisregisters.Utilities.ToStringBuilder 3.0.0
nuget Be.Vlaanderen.Basisregisters.Utilities.HexByteConvertor 3.0.0

nuget Be.Vlaanderen.Basisregisters.Generators.Guid.Deterministic 3.0.1

nuget Be.Vlaanderen.Basisregisters.Converters.Timestamp 3.0.0

// TEST STUFF
nuget Microsoft.NET.Test.Sdk 17.1.0
nuget NUnit 3.13.3
nuget NUnit3TestAdapter 4.2.1
nuget xunit 2.4.1
nuget xunit.runner.visualstudio 2.4.3
nuget Moq 4.17.2
nuget Shouldly 4.0.3

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true
