framework: netcoreapp31
source https://api.nuget.org/v3/index.json

// PRODUCTION STUFF
nuget SqlStreamStore 1.2.0
nuget SqlStreamStore.MsSql 1.2.0

nuget Microsoft.Extensions.Logging 3.1.8
nuget Microsoft.Extensions.Configuration 3.1.8
nuget Microsoft.Extensions.Options.ConfigurationExtensions 3.1.8

nuget Microsoft.EntityFrameworkCore 3.1.8
nuget Microsoft.EntityFrameworkCore.SqlServer 3.1.8
nuget Microsoft.EntityFrameworkCore.InMemory 3.1.8
nuget Microsoft.EntityFrameworkCore.Design 3.1.8

nuget Microsoft.Data.SqlClient 2.0.1

nuget Autofac.Extensions.DependencyInjection 6.0.0

nuget Newtonsoft.Json 12.0.3

nuget NodaTime 3.0.0

nuget CompareNETObjects 4.67.0

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 4.2.3
nuget Nuget.Packaging < 5.7

nuget Be.Vlaanderen.Basisregisters.EventHandling 2.2.6

nuget Be.Vlaanderen.Basisregisters.Utilities.HashCodeCalculator 2.2.6
nuget Be.Vlaanderen.Basisregisters.Utilities.ToStringBuilder 2.2.10
nuget Be.Vlaanderen.Basisregisters.Utilities.HexByteConvertor 2.2.6

nuget Be.Vlaanderen.Basisregisters.Generators.Guid.Deterministic 2.2.6

nuget Be.Vlaanderen.Basisregisters.Converters.Timestamp 2.2.9

// TEST STUFF
nuget Microsoft.NET.Test.Sdk 16.7.1
nuget NUnit 3.12.0
nuget NUnit3TestAdapter 3.17.0
nuget xunit 2.4.1
nuget xunit.runner.visualstudio 2.4.3
nuget Moq 4.14.5
nuget Shouldly 3.0.2

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true

// MS Nuget issue, they are referencing previews
// https://github.com/fsprojects/Paket/issues/3907
//group NuGetIssue
//  framework: netcoreapp31
//  source https://api.nuget.org/v3/index.json
//  nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 4.2.3
//  nuget Nuget.Packaging < 5.7
