type file
version 1.0.0

id Be.Vlaanderen.Basisregisters.AggregateSource.Testing.CommandHandling
title Be.Vlaanderen.Basisregisters.AggregateSource.Testing.CommandHandling

authors Basisregisters Vlaanderen
owners Digitaal Vlaanderen <https://vlaanderen.be/digitaal-vlaanderen>
copyright Copyright (c) Digitaal Vlaanderen
requireLicenseAcceptance false
projectUrl https://github.com/Informatievlaanderen/command-handling
iconUrl https://raw.githubusercontent.com/Informatievlaanderen/build-pipeline/master/logo.png
licenseUrl https://opensource.org/licenses/MIT

description Lightweight infrastructure for doing command handling and eventsourcing using aggregates.

dependencies
  framework: net6.0
    Be.Vlaanderen.Basisregisters.AggregateSource.Testing CURRENTVERSION
    Be.Vlaanderen.Basisregisters.CommandHandling CURRENTVERSION

files
  bin\Release\net6.0\Be.Vlaanderen.Basisregisters.AggregateSource.Testing.CommandHandling.dll => lib\net6.0
  bin\Release\net6.0\Be.Vlaanderen.Basisregisters.AggregateSource.Testing.CommandHandling.pdb => lib\net6.0
